<p><%= @photo.id %></p>
<%= image_tag @photo.medium!(800).source_url, size: "#{@photo.width}x#{@photo.height}" %>
<p>
	<a class="social facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>">Facebook</a>
	<a class="social twitter" target="_blank" href="https://twitter.com/intent/tweet?text=Tosbourn%20&url=http%3A%2F%2Ftosbourn.com&via=tosbourn">Twitter</a> 
		<a class="social google" target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Ftosbourn.com">Google+</a> 
	comments TODO
</p>